<section ng-controller="CompoundCtrl">
	<h2>
		Compound <small>CRUD example</small>
	</h2>

  <div class="table-responsive">
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Compound ID</th>
<!-- 				<th>SMILE</th> //TODO: Not sure is needed -->
				<th style="width: 150px;">
					<div class="btn-toolbar">
						<button type="button" class="btn btn-sm btn-primary" ng-click="toggleAddMode()">Add</button>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="addMode">
				<td></td>
				<td><input ng-model="object.compoundID" id="addCompoundID"" /></td>
<!-- 				<td><input ng-model="object.lastName" /></td> //TODO: Not sure is needed -->
				<td>
					<div class="btn-toolbar">
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-success" ng-click="addObject()">Save</button>
							<button type="button" class="btn btn-info" ng-click="toggleAddMode()">Cancel</button>
							<img src="resources/Compounds/GetStructureGraphForCompound?id=1" />
						</div>
					</div> 
				</td>
			</tr>

			<tr ng-repeat="object in objects | orderBy:'id':false">
				<td>{{object.id}}</td>
				<td><span ng-show="object.editMode == null || object.editMode == false">{{object.firstName}}</span>
					<input ng-model="object.compoundId" ng-show="object.editMode == true" /></td>
<!-- 				<td><span ng-show="object.editMode == null || object.editMode == false">{{object.lastName}}</span>
					<input ng-model="object.smile" ng-show="object.editMode == true" /> //TODO: Not sure is needed -->
				</td>
				<td>
					<div class="btn-toolbar" ng-show="object.editMode == null || object.editMode == false">
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-info" ng-click="toggleEditMode(object)">Edit</button>
							<button type="button" class="btn btn-danger" ng-click="deleteObject(object)">Delete</button>
						</div>
					</div>
					<div class="btn-toolbar" ng-show="object.editMode == true">
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-success" ng-click="updateObject(object)">Save</button>
							<button type="button" class="btn btn-info" ng-click="cancel();toggleEditMode(object)">Cancel</button>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
  </div>
  
	<h3>Compound finder</h3>
	
	<form class="form-horizontal" role="form">
	<fieldset>
		<legend>Find by id</legend>
 		<div class="form-group">
      <label class="col-md-2 control-label" for="compoundId">Select id</label><!-- TODO: Manu: Not sure whether this is the Id or compoundId in object class -->
	    <div class="col-md-1">
	      <select id="compoundId" name="compoundId" class="form-control" ng-model="compoundId" ng-change="findCompoundById(compoundId)" ng-options="object.id as object.id for object in objects">
		      <option value="">id</option>
		    </select>
	    </div>
      <div class="col-md-3 inline-result" ng-show="found.id != null">Compound {{compoundId}} is {{found.compoundId}} <!-- {{found.lastName}} --></div>
	  </div>
	
  </fieldset>
  <fieldset>
		<legend>Find by compoundId</legend>
		<p>Enter compoundId</p>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
				  <label class="col-md-4 control-label" for="compoundId">compound ID</label>
				  <div class="col-md-4">
				    <input id="compoundId" name="compoundId" ng-model="compoundId" type="text" placeholder="compound Id" class="form-control input-md">
				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="smile">SMILE</label>
				  <div class="col-md-4">
				    <input id="smile" ng-model="smile" type="text" placeholder="smile" class="form-control input-md">
				  </div>
				</div>
				
				<div class="form-group">
				  <div class="col-md-4 col-md-offset-4">
				    <button id="search" name="search" type="button" class="btn btn-primary" ng-click="findCompoundById()">Search</button>
				  </div>
				</div>
			</div>
      <div class="col-md-6">
        <span ng-hide="foundIds.length">No results found</span>
        <div ng-repeat="Id in foundIds">
        {{Id.id}}: {{compoundId.firstName}} {{name.lastName}}
        </div>
      </div>
		</div>
	</fieldset>
	</form>
	
	<h3>Other tests</h3>
	<button type="button" class="btn btn-danger" ng-click="testError()">Test error</button>
</section>
