<section ng-controller="CompoundCtrl">
  <a href="#">
    <img class="pull-left" src="img/logo-96.png" alt="Logo">
  </a>
  <h1><span ng-bind="title">...</span><br/><small ng-bind="version">...</small></h1>
  
<!--   <div class="jumbotron">
		<h1></h1>
		<p>An open, lightweight and extensible Web Application template for RDI projects.</p>
		<p><a href class="btn btn-primary" tooltip-trigger="click" tooltip-placement="right" tooltip-animation="true" tooltip-html-unsafe="You're right, this should<br/>say something useful.<br/><span style='font-size:400%'>&#x263A;</span>">Learn more &raquo;</a></p>
	</div> -->

	<div class="container" data-ng-init="showAllCompounds()">

		<!-- Left panel -->
		<div class="left-panel">
			<!-- Somehow first row's last image is dropped down when container mid-width is more than 900px window-width
			     As a workaround added an additional empty row at the top-->
			<div class="row"></div>

			<!-- Repeat 2nd row for troubleshooting purposes  -->
			<div class="row" style="padding:5%;">
				<div class="col-md-4">
					<div class="rotate90" >
						<img class="img-responsive"src="img/vadmta/arrow.png">
					</div>
				</div>

				<div class="col-md-4">
					<div class="media">
						<img class="img-responsive img-button" src="img/vadmta/design.png"	data-toggle="tooltip" ng-click="showDesignDetails()" title="Design Stage">
					</div>
				</div>

				<div class="col-md-4">
					<div class="rotate180">
						<img class="img-responsive" style="margin-left:-20%;" src="img/vadmta/arrow.png">
					</div>
				</div>
			</div>

			<!-- 2nd row of 3 columns (images)  -->
			<div class="row">
				<div class="col-md-4">
					<div class="media">
						<img class="img-responsive img-button" src="img/vadmta/testing.png" data-toggle="tooltip" ng-click="showTestingDetails()" title="Testing Stage">
					</div>
				</div>

				<!-- The cientre of the cycle is empty  -->
				<div class="col-md-4">
					<img class="img-responsive img-button" src="img/vadmta/refresh.png" data-toggle="tooltip" ng-click="showAllCompounds()" title="List all compounds">
				</div>

				<div class="col-md-4">
					<div class="media">
						<div class="span12">
							<img class="img-responsive img-button" src="img/vadmta/synthesis.png" style="margin-left: 20%;" data-toggle="tooltip" ng-click="showSynthesisDetails()" title="Synthesis Stage">
						</div>
					</div>
				</div>
			</div>

			<!--3rd row of 3 columns (images)  -->
			<div class="row" style="margin-top: 7%;"">
				<div class="col-md-4">
					<div class="rotate0">
						<img class="img-responsive"src="img/vadmta/arrow.png">
					</div>
				</div>

				<div class="col-md-4">
					<div class="media">
						<img class="img-responsive img-button" src="img/vadmta/purification.png" data-toggle="tooltip" ng-click="showPurificationDetails()" title="Purification Stage">
					</div>
				</div>

				<div class="col-md-4">
					<div class="rotate270">
						<img class="img-responsive" src="img/vadmta/arrow.png">
					</div>
				</div>
			</div>
		</div>

		<!--Right panel  -->
		<div class="right-panel" >
			<!-- <button type="button" ng-click="showAllCompounds()" style="float: right;">Reload all </button> -->
			<table class="table table-striped table-hover" >
				<thead>
					<tr>
						<th>Compound</th>
						<th>Stage</th>
						<th>Result</th>
						
					</tr>

					
				</thead>
				<tbody>
					<tr ng-repeat="d in data" ng-click="showGraph(d)" style="cursor: pointer;">
						<td>{{d.sampleNumber}}</td>
						<td>{{d.stage | lowercase}}</td>
						<td>{{d.results}}</td>
					</tr>
				</tbody>
			</table>
	
	
			
				
			<!-- Display graphs -->
			<div class="panel-group"  >
				<div class="col-md-6" style="width: 50%" ng-show="showImg" >
					<div class="panel panel-default">
						<div class="panel-heading">Structure</div>
						<img class="img-button" id="struct_graph" ng-src="data:image/PNG;base64,{{structureGraph}}" style="width: 75%; margin-left: 10%;" ng-click="zoomImage()">
					</div>
				</div>
			
				<div class="col-md-6" style="width: 50%" ng-show="flag">
					<div class="panel panel-default">
						<div class="panel-heading">Results graph</div>
						<img class="img-button" id="line_graph" ng-src="data:image/PNG;base64,{{lineGraph}}" style="width: 100%;" ng-click="zoomImage()">
				
					</div>
				</div>
			</div>
		</div> <!--End of right side screen-panel  -->
	</div>
	
			<!-- The struct_graph Modal -->
<div id="modal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="struct_graph_img">
  <div id="caption"></div>
</div>

			<!-- The line_graph Modal -->
<div id="line_graph_modal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="line_graph_img">
  <div id="caption"></div>
</div>

</section>
</head>